.header {
  background-color: #026aa7;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.headerActions {
  display: flex;
  align-items: center;
}

.headerActions button {
  background-color: #5aac44;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

.headerActions button:hover {
  background-color: #519839;
}
