.sidebar {
  background: linear-gradient(to bottom, #3498db, #5dade2);
  color: white;
  padding: 20px;
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
}

.sidebar li:hover {
  text-decoration: underline;
}
